<html>
  <head>
    <title>Page potin</title>
  </head>
  <body>
    <h1>Voici la page du potin n° <%= id %> </h1>
    <p> Son auteur : <%= gossip.author %> </p>
    <p> Le contenu du potin : <%= gossip.content %> </p>
    <p>Si tu veux revenir au menu des potins clique <a href="/">ici</a></p>
    <p>Si tu veux éditer le potin clique <a href="/gossips/<%= id %>/edit">ici</a></p>


  </body>
</html>
